<a href="https://colab.research.google.com/github/JDestroyer5/Discrete_Mathmatics/blob/main/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # : CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Sets and Functions: Dinosaurs

### Joshua Myers: 252405

## 1 Sets

First thing I did was create 4 sets of dinosaurs, A, B, C, and the universal, U. I used mainly commonly known dinosaurs. (Acrocathosaurus is the Oklahoma State Dinosaur, Gojirasaurus is named after Godzilla)

In [17]:
A = ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Triceratops', 'Troodon']
B = ['Spinosaurus', 'Stegosaurus', 'Stygimoloch', 'Styracosuarus', 'Suchomimus', 'T-Rex']
C = ['Acrocanthosaurus', 'Allosaurus', 'Ankylosaurus', 'Apatosaurus', 'Archaeopteryx', 'Stegosaurus']
U = ['Acrocanthosaurus', 'Allosaurus', 'Ankylosaurus', 'Apatosaurus', 'Archaeopteryx','Baryonyx', 
     'Dilophosaurus', 'Giganotosaurus', 'Gojirasaursus', 'Iguanodon', 'Oviraptor', 'Parasaurolophus',
     'Pachycephalosaurus', 'Spinosaurus', 'Stegosaurus','Stygimoloch', 'Styracosuarus', 'Suchomimus',
     'T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Triceratops', 'Troodon', 'Velociraptor', 
     'Yutyrannus']

Calculating all unions

In [18]:
AUB = []
for dinosaur in A:
  AUB.append(dinosaur)
for dinosaur in B:
  AUB.append(dinosaur)
set(AUB)

{'Allosaurus',
 'Spinosaurus',
 'Stegosaurus',
 'Stygimoloch',
 'Styracosuarus',
 'Suchomimus',
 'T-Rex',
 'Therizinosaurus',
 'Titanosaurus',
 'Triceratops',
 'Troodon'}

In [19]:
AUC = []
for dinosaur in A:
  AUC.append(dinosaur)
for dinosaur in C:
  AUC.append(dinosaur)
set(AUC)

{'Acrocanthosaurus',
 'Allosaurus',
 'Ankylosaurus',
 'Apatosaurus',
 'Archaeopteryx',
 'Stegosaurus',
 'T-Rex',
 'Therizinosaurus',
 'Titanosaurus',
 'Triceratops',
 'Troodon'}

In [20]:
BUC = []
for dinosaur in B:
  BUC.append(dinosaur)
for dinosaur in C:
  BUC.append(dinosaur)
set(BUC)

{'Acrocanthosaurus',
 'Allosaurus',
 'Ankylosaurus',
 'Apatosaurus',
 'Archaeopteryx',
 'Spinosaurus',
 'Stegosaurus',
 'Stygimoloch',
 'Styracosuarus',
 'Suchomimus',
 'T-Rex'}

Calculating all intersections

In [21]:
ACapB = []
for dinosaur in A:
  if dinosaur in B:
    ACapB.append(dinosaur)
ACapB

['T-Rex']

## 2 Functions