<a href="https://colab.research.google.com/github/JDestroyer5/Discrete_Mathmatics/blob/main/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # : CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Sets and Functions: Dinosaurs

### Joshua Myers: 252405

## 1 Sets

(a),(b) The first thing I did was create 4 sets of dinosaurs, A, B, C, and the universal, U. I used mainly commonly known dinosaurs. (Acrocathosaurus is the Oklahoma State Dinosaur, Gojirasaurus is named after Godzilla)

In [ ]:
A = ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Triceratops', 'Troodon']
B = ['Spinosaurus', 'Stegosaurus', 'Stygimoloch', 'Styracosuarus', 'Suchomimus', 'T-Rex']
C = ['Acrocanthosaurus', 'Allosaurus', 'Ankylosaurus', 'Apatosaurus', 'Archaeopteryx', 'Stegosaurus']
U = ['Acrocanthosaurus', 'Allosaurus', 'Ankylosaurus', 'Apatosaurus', 'Archaeopteryx','Baryonyx', 
     'Dilophosaurus', 'Giganotosaurus', 'Gojirasaursus', 'Iguanodon', 'Oviraptor', 'Parasaurolophus',
     'Pachycephalosaurus', 'Spinosaurus', 'Stegosaurus','Stygimoloch', 'Styracosuarus', 'Suchomimus',
     'T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Triceratops', 'Troodon', 'Velociraptor', 
     'Yutyrannus']

(C) Calculating all unions

In [ ]:
AUB = []
for dinosaur in A:
  AUB.append(dinosaur)
for dinosaur in B:
  AUB.append(dinosaur)
set(AUB)

{'Allosaurus',
 'Spinosaurus',
 'Stegosaurus',
 'Stygimoloch',
 'Styracosuarus',
 'Suchomimus',
 'T-Rex',
 'Therizinosaurus',
 'Titanosaurus',
 'Triceratops',
 'Troodon'}

In [ ]:
AUC = []
for dinosaur in A:
  AUC.append(dinosaur)
for dinosaur in C:
  AUC.append(dinosaur)
set(AUC)

{'Acrocanthosaurus',
 'Allosaurus',
 'Ankylosaurus',
 'Apatosaurus',
 'Archaeopteryx',
 'Stegosaurus',
 'T-Rex',
 'Therizinosaurus',
 'Titanosaurus',
 'Triceratops',
 'Troodon'}

In [ ]:
BUC = []
for dinosaur in B:
  BUC.append(dinosaur)
for dinosaur in C:
  BUC.append(dinosaur)
set(BUC)

{'Acrocanthosaurus',
 'Allosaurus',
 'Ankylosaurus',
 'Apatosaurus',
 'Archaeopteryx',
 'Spinosaurus',
 'Stegosaurus',
 'Stygimoloch',
 'Styracosuarus',
 'Suchomimus',
 'T-Rex'}

Calculating all intersections

In [ ]:
ACapB = []
for dinosaur in A:
  if dinosaur in B:
    ACapB.append(dinosaur)
ACapB

['T-Rex']

In [22]:
ACapC = []
for dinosaur in A:
  if dinosaur in C:
    ACapC.append(dinosaur)
ACapC

['Allosaurus']

In [23]:
BCapC = []
for dinosaur in B:
  if dinosaur in C:
    BCapC.append(dinosaur)
BCapC

['Stegosaurus']

(d) Calculating the complements

In [24]:
AComplement = []
for dinosaur in U:
  if dinosaur not in A:
    AComplement.append(dinosaur)
AComplement

['Acrocanthosaurus',
 'Ankylosaurus',
 'Apatosaurus',
 'Archaeopteryx',
 'Baryonyx',
 'Dilophosaurus',
 'Giganotosaurus',
 'Gojirasaursus',
 'Iguanodon',
 'Oviraptor',
 'Parasaurolophus',
 'Pachycephalosaurus',
 'Spinosaurus',
 'Stegosaurus',
 'Stygimoloch',
 'Styracosuarus',
 'Suchomimus',
 'Velociraptor',
 'Yutyrannus']

In [25]:
BComplement = []
for dinosaur in U:
  if dinosaur not in B:
    BComplement.append(dinosaur)
BComplement

['Acrocanthosaurus',
 'Allosaurus',
 'Ankylosaurus',
 'Apatosaurus',
 'Archaeopteryx',
 'Baryonyx',
 'Dilophosaurus',
 'Giganotosaurus',
 'Gojirasaursus',
 'Iguanodon',
 'Oviraptor',
 'Parasaurolophus',
 'Pachycephalosaurus',
 'Therizinosaurus',
 'Titanosaurus',
 'Triceratops',
 'Troodon',
 'Velociraptor',
 'Yutyrannus']

In [26]:
CComplement = []
for dinosaur in U:
  if dinosaur not in C:
    CComplement.append(dinosaur)
CComplement

['Baryonyx',
 'Dilophosaurus',
 'Giganotosaurus',
 'Gojirasaursus',
 'Iguanodon',
 'Oviraptor',
 'Parasaurolophus',
 'Pachycephalosaurus',
 'Spinosaurus',
 'Stygimoloch',
 'Styracosuarus',
 'Suchomimus',
 'T-Rex',
 'Therizinosaurus',
 'Titanosaurus',
 'Triceratops',
 'Troodon',
 'Velociraptor',
 'Yutyrannus']

(e) Are any sunsets?: All are subsets of U. Only the intersections are subsets of A, B, or C

(f) Creating the powerset of set A. It has 2^6 or 64 elements. The powerset of U would have 2^25 or 33,554,432 elements.

In [27]:
def DPpowerset(s):
  powerset = [[]]
  for i in s:
    for sett in powerset:
      powerset = powerset + [sett + [i]]
  return powerset

DPpowerset(A)

[[],
 ['Allosaurus'],
 ['T-Rex'],
 ['Allosaurus', 'T-Rex'],
 ['Therizinosaurus'],
 ['Allosaurus', 'Therizinosaurus'],
 ['T-Rex', 'Therizinosaurus'],
 ['Allosaurus', 'T-Rex', 'Therizinosaurus'],
 ['Titanosaurus'],
 ['Allosaurus', 'Titanosaurus'],
 ['T-Rex', 'Titanosaurus'],
 ['Allosaurus', 'T-Rex', 'Titanosaurus'],
 ['Therizinosaurus', 'Titanosaurus'],
 ['Allosaurus', 'Therizinosaurus', 'Titanosaurus'],
 ['T-Rex', 'Therizinosaurus', 'Titanosaurus'],
 ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Titanosaurus'],
 ['Triceratops'],
 ['Allosaurus', 'Triceratops'],
 ['T-Rex', 'Triceratops'],
 ['Allosaurus', 'T-Rex', 'Triceratops'],
 ['Therizinosaurus', 'Triceratops'],
 ['Allosaurus', 'Therizinosaurus', 'Triceratops'],
 ['T-Rex', 'Therizinosaurus', 'Triceratops'],
 ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Triceratops'],
 ['Titanosaurus', 'Triceratops'],
 ['Allosaurus', 'Titanosaurus', 'Triceratops'],
 ['T-Rex', 'Titanosaurus', 'Triceratops'],
 ['Allosaurus', 'T-Rex', 'Titanosaurus', 'Triceratops'],
 ['Therizinosaurus', 'Titanosaurus', 'Triceratops'],
 ['Allosaurus', 'Therizinosaurus', 'Titanosaurus', 'Triceratops'],
 ['T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Triceratops'],
 ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Triceratops'],
 ['Troodon'],
 ['Allosaurus', 'Troodon'],
 ['T-Rex', 'Troodon'],
 ['Allosaurus', 'T-Rex', 'Troodon'],
 ['Therizinosaurus', 'Troodon'],
 ['Allosaurus', 'Therizinosaurus', 'Troodon'],
 ['T-Rex', 'Therizinosaurus', 'Troodon'],
 ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Troodon'],
 ['Titanosaurus', 'Troodon'],
 ['Allosaurus', 'Titanosaurus', 'Troodon'],
 ['T-Rex', 'Titanosaurus', 'Troodon'],
 ['Allosaurus', 'T-Rex', 'Titanosaurus', 'Troodon'],
 ['Therizinosaurus', 'Titanosaurus', 'Troodon'],
 ['Allosaurus', 'Therizinosaurus', 'Titanosaurus', 'Troodon'],
 ['T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Troodon'],
 ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Troodon'],
 ['Triceratops', 'Troodon'],
 ['Allosaurus', 'Triceratops', 'Troodon'],
 ['T-Rex', 'Triceratops', 'Troodon'],
 ['Allosaurus', 'T-Rex', 'Triceratops', 'Troodon'],
 ['Therizinosaurus', 'Triceratops', 'Troodon'],
 ['Allosaurus', 'Therizinosaurus', 'Triceratops', 'Troodon'],
 ['T-Rex', 'Therizinosaurus', 'Triceratops', 'Troodon'],
 ['Allosaurus', 'T-Rex', 'Therizinosaurus', 'Triceratops', 'Troodon'],
 ['Titanosaurus', 'Triceratops', 'Troodon'],
 ['Allosaurus', 'Titanosaurus', 'Triceratops', 'Troodon'],
 ['T-Rex', 'Titanosaurus', 'Triceratops', 'Troodon'],
 ['Allosaurus', 'T-Rex', 'Titanosaurus', 'Triceratops', 'Troodon'],
 ['Therizinosaurus', 'Titanosaurus', 'Triceratops', 'Troodon'],
 ['Allosaurus', 'Therizinosaurus', 'Titanosaurus', 'Triceratops', 'Troodon'],
 ['T-Rex', 'Therizinosaurus', 'Titanosaurus', 'Triceratops', 'Troodon'],
 ['Allosaurus',
  'T-Rex',
  'Therizinosaurus',
  'Titanosaurus',
  'Triceratops',
  'Troodon']]

## 2 Functions

(a) Defining a function.